        <h1>Welcome to Soshell</h1>
<section id="post-feed">
        <h2>Happenings</h2>
        <form action="" id="post-form-new" method="POST">
                <textarea name="content" cols="30" rows="3"></textarea>
                <input type="submit" value="Post">
        </form>
</section>